{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1>Опрос о мерзкой еде &#129314;</h1>
Спасибо, что посетили нашу страничку! Мы проводим исследование о мерзкой еде.
Вас ждёт 20 вопросов, в которых мы попросим вас оценить мерзость разной еды.
    <fieldset>
    Переходя к опросу, вы подтверждаете своё согласие на обработку данных<br><br>
        <a href="process_results">
       <button>Перейти к опросу</button>
        </a>
    </fieldset>

{% endblock %}
